<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yypt.system.dao.SysJobMapper">
    <resultMap id="BaseResultMap" type="com.yypt.system.domain.SysJob">
        <result column="sched_name" jdbcType="VARCHAR" property="schedName" />
        <result column="job_name" jdbcType="VARCHAR" property="jobName" />
        <result column="job_group" jdbcType="VARCHAR" property="jobGroup" />
        <result column="job_name" jdbcType="VARCHAR" property="oldJobName" />
        <result column="job_group" jdbcType="VARCHAR" property="oldJobGroup" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="job_class_name" jdbcType="VARCHAR" property="jobClassName" />
        <result column="trigger_name" jdbcType="VARCHAR" property="triggerName" />
        <result column="trigger_group" jdbcType="VARCHAR" property="triggerGroup" />
        <result column="next_fire_time" jdbcType="TIMESTAMP" property="nextFireTime" />
        <result column="prev_fire_time" jdbcType="TIMESTAMP" property="prevFireTime" />
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
        <result column="cron_expression" jdbcType="TIMESTAMP" property="cronExpression" />
        <result column="job_data" jdbcType="BLOB" property="param" />

    </resultMap>
    <select id="getAllJob" resultMap="BaseResultMap" parameterType="hashmap">
           select a.sched_name,
            a.job_name,
            a.job_group,
            a.description,
            a.job_class_name,
            b.trigger_name,
            b.trigger_group,
            b.next_fire_time,
            b.prev_fire_time,
            b.start_time,
            b.end_time,
            c.cron_expression,
            a.job_data
       from Qrtz_Job_Details a, qrtz_triggers b, qrtz_cron_triggers c
      where a.job_name = b.job_name
        and b.trigger_name = c.trigger_name
    </select>
</mapper>