<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yypt.system.dao.SysLoginLogMapper">
    <resultMap id="BaseResultMap" type="com.yypt.system.domain.SysLoginLog">

    </resultMap>
    
    <select id="list" resultMap="BaseResultMap" parameterType="sysLoginLog">
        SELECT
                login_id,
                user_name,
                login_time,
                location,
                ip
            FROM
                sys_login_log
            where 1=1
            <if test=" sysLoginLog.userName != null and sysLoginLog.userName != '' ">
                AND  user_name = #{sysLoginLog.userName}
            </if>

            <if test=" sysLoginLog.ip != null and sysLoginLog.ip != '' ">
                AND  ip = #{sysLoginLog.ip}
            </if>


    </select>

</mapper>
