<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwsj.yypt.system.dao.SysRoleMapper">
    <resultMap id="BaseResultMap" type="com.zwsj.yypt.system.domain.SysRole">
            <id column="ROLE_ID" jdbcType="INTEGER" property="roleId" />
            <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
            <result column="ROLE_CODE" jdbcType="VARCHAR" property="roleCode" />
            <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
            <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    </resultMap>

    <select id="getUserRoles" resultMap="BaseResultMap" parameterType="long">
        SELECT
            b.*
        FROM
            role_user a
        LEFT JOIN role b ON a.role_id = b.role_id
        where a.user_id = #{userId}
    </select>
    
    



</mapper>