<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yypt.system.dao.SysDictDtlMapper">

    <select id="list" resultType="com.yypt.system.domain.SysDictDtl">
        SELECT
            a.dict_dtl_id dictDtlId,
            a.dict_id dictId,
            a.label label,
            a.value value,
            a.memo memo,
            a.order_no orderNo,
            a.create_time createTime,
            a.update_time  updateTime
        FROM
            sys_dict_dtl a
        WHERE 1=1
        <if test="query.dictId != null and query.dictId != ''">
           and  a.dict_id = #{query.dictId}
        </if>



    </select>
</mapper>
