<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yypt.system.dao.SysRoleUserMapper">
    <resultMap id="BaseResultMap" type="com.yypt.system.domain.SysRoleUser">
            <id column="role_user_id" jdbcType="INTEGER" property="roleUserId" />
            <result column="role_id" jdbcType="INTEGER" property="roleId" />
            <result column="user_id" jdbcType="VARCHAR" property="userId" />
            <result column="user_name" jdbcType="VARCHAR" property="userName" />
            <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    </resultMap>

    <select id="getRoleUsers" resultMap="BaseResultMap" parameterType="SysRoleUser">
            SELECT
                a.role_id,
              a.role_user_id,
              a.user_id,
              a.create_date,
              b.user_name
            FROM
                sys_role_user a,
                sys_user b
            WHERE
                a.user_id = b.user_id
             
            AND  a.role_id = #{roleId}

    </select>

    

    



</mapper>