<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yypt.system.mapper.SysDeptMapper">


    
    <!-- 利用函数找到该节点下面所有的子节点 -->

	<!--
	<delete id="deleteBy" parameterType="long">
        DELETE FROM sys_dept
        WHERE dept_id IN (
		SELECT
			cc.dept_id
		FROM
			(
				SELECT b.dept_id FROM sys_dept b WHERE FIND_IN_SET( dept_id,findDeptChildren (#{deptId}))
			) cc
	     )
    </delete>
    -->


    <select id="pageMap" resultType="camelKeyMap">
        select * from sys_dept ${ew.customSqlSegment}
    </select>
</mapper>